html{
    background-image: url('assets_about/about_background.png'),linear-gradient(to bottom, #023326 0%, #053335 50%, #0a1928 100%);
    background-position: center center;
    background-repeat: repeat, no-repeat;
    background-size: 2.5rem, cover;
    height: auto;
    min-height: 100%;
    margin: 0;
        
}



/* HEADER - NAVBAR */










/* BODY */
body{    
    /* Margenes */
    margin: 0;
    padding: 0;
    /* Centrar todo horizontalmente */
    justify-content: center;
    align-items: center;
    background-repeat: repeat;
    background-image: url('assets_about/about_historia_background.jpeg');
    background-repeat: repeat;
    overflow-x: hidden;
}




/* BODY - HEADER */
@font-face {
    font-family: 'The Wild Breath of Zelda';
    src: url('text-font/The Wild Breath of Zelda.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


#about_header {
    margin: 0 auto;
    position: relative;
    height: 450px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    
}
#header_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    z-index: -1;
    box-shadow: 0 2.5rem 5rem 0 rgba(0,0,0,0.5);
}

#header_content {
    margin-left: 200px;
}

#header_content h1, #header_content img, #header_content a {
    margin-bottom: 20px;
    filter: drop-shadow(1px 1px 8px #000);
}

#header_content h1 {
    font-family: 'The Wild Breath of Zelda';
    src: url('text-font/The Wild Breath of Zelda.otf') format('opentype');
    color: #F3EFE6;
    margin-left: 170px;
    text-shadow: 0 5px 2px rgba(0,0,0,0.5); 
    
    
}

#header_content a {
    margin: 40px;
    text-decoration: none;
    color: #F3EFE6;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
    filter: drop-shadow(1px 1px 8px #000);
    
}
#header_separator {
    bottom: -44px;
    content: "";
    height: 86px;
    left: 0;
    margin-top: 100%;
    margin-top: 43px;
    position: absolute;
    width: 100%;
}










/* BODY - DIV */

#about_content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin: 100px 0px;
    
}

#about_content h1 {
    color: #ffdb58; 
    text-transform: uppercase;
    
}
#about_content img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
}

#about_content p {
    margin: 0 auto;
    /* Tamaño y margenes */
    width: 1000px;
    padding: 50px;
    z-index: 1;
    font-family: 'Bitter', serif;
    color: #F4EFE5;
    text-align: center;
    line-height: 1.6em;
    padding: 0 10px;
    font-size: 1rem;
}




#dev_selector {
    margin: 0 auto;
    padding: 50px 100px;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-repeat: repeat;
}

#dev_selector h1 {
    text-align: center;
    color: #ffdb58; 
    text-transform: uppercase;
    
}

#dev_selector img {
    width: 300px;
    height: auto;
}

.developer {
    position: relative;
    margin: 10px;
    cursor: pointer;
}

.overlay {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 300px;
    height: 70px;
    padding: 10px;
    background-color: #2C3F3E; 
    color: #ffdb58; 
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    line-height: 2.6em;
    padding: 0 10px;
    font-size: 1rem;
}


.developer:hover .overlay {
    display: block;
    opacity: 1;
}
